:root {
  --foreground-color: #D9ED92;
  --background-highlight: #1E6091;
  --background-color: #184E77;
  --foreground-highlight: #B5E48C;
}

/* https://coolors.co/palette/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77 */

.App {
  text-align: center;
  background-color: var(--background-color);
  min-height: 100vh;
  color: var(--foreground-color);
}

p {
  margin: .5rem 0;
}

.footer-div {
  background-color: var(--background-highlight);
  position: fixed;
  bottom: 10px;
  right: 10px;
  left: 10px;
  width: calc(100% - 20px - 2rem);
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--foreground-highlight);
}

.main-display {
  display: flex;
  flex-direction: row;
}

.main-display > div {
  transition: all 0.5s;
  font-size: large;
  text-align: left;
  padding: 1rem 1rem;
  margin: 1rem;
  border: 2px solid var(--foreground-color);
  border-radius: 1rem;
  transition: border 1s;
}

.liturgy-display {
  min-width: 250px;
}

.liturgy-display:hover {
  transition: border 1s;
  border: 2px solid var(--foreground-highlight);
}

.tree-modification-button {
  opacity: 0;

  margin-left: 0.3rem;

  border: 1px solid var(--foreground-color);
  border-radius: 5px;

  color: var(--foreground-color);
  background-color: inherit;

  transition: opacity 0.2s;
}

.tree-modification-button:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);

  cursor: pointer;
}

.tree-element:hover>.tree-modification-button {
  transition: opacity 0.2s;
  opacity: 1;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  text-decoration: underline;
}